.textCenter{
    text-align: center;
}

#grid{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.row {
    display: flex;
    flex-direction: row;
}
.square{
    margin: 0px;
    padding: 0px;
    border: solid black 1px;
}
